.page.theme_dark {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --article-h-bg-color: #ff0070;
    --header-nav-color: #ff0070;
    --article-h-color: #000028;
    --accent-color: #db00ff;
    --article-text-color: #ff8dcb;
    --accent-h-color: #ff0070;
    --hover-color: rgba(255, 0, 112, 0.4);
    --text-shadow: #ff0070;
    --hover-color: rgba(255, 0, 112, 0.4);
    --title_small-color: #000028;
    --articles_list-title: #ff0070;
    --articles-title: #000028;
    --articles-title-bg: #ff0070;
    background-color: var(--bg-color);
    background-image: var(--bg-image);
}

.theme_dark .header-rectangle {
    display: grid;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --bg-image: url(../images/cover-image-dark.png);
    }
} */

.theme_dark .page {
    background-image: url(../images/cover-image-dark.png);
    background-color: #000028;
}
