.page.theme_light {
    background-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --article-h-bg-color: #ff8dcb;
    --header-nav-color: #353430;
    --article-h-color: #353430;
    --accent-color: #ffc2e6;
    --main-font: IBM Plex Mono, sans-serif;
    --article-text-color: #353430;
    --text-shadow: #ff8dcb;
    --articles_list-title: #353430;
    --title_small-color: #353430;
    --articles-title: #353430;
    --articles-title-bg: #ff8dcb;
    --hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --article-h-bg-color: #ff8dcb;
        --header-nav-color: #353430;
        --article-h-color: #353430;
        --accent-color: #ffc2e6;
        --main-font: IBM Plex Mono, sans-serif;
        --article-text-color: #353430;
        --hover-color: rgba(50, 49, 45, 0.4);
        --text-shadow: #ff8dcb;
        --title_small-color: #353430;
        --articles_list-title: #353430;
        --articles-title: #353430;
        --articles-title-bg: #ff8dcb;
        --bg-image: url(../images/cover-image-light.png);
    }

    .header-rectangle {
        display: none;
    }


    .header__theme-menu-button:hover {
        outline: 1px solid var(--hover-color);
    }
    
    .header__theme-menu-button:focus-visible {
        border-bottom: 1px solid var(--hover-color);
    }
    
    .header__theme-menu-button_active {
        outline: 1px solid var(--header-nav-color);
        pointer-events: none;
    }


    @media (min-width: 1024px) {
        .footer-text {
            text-shadow: 2px 2px 0px var(--accent-h-color, #ff0070);
        }

        .header-title_main {
            text-shadow: 4px 4px 0px var(--accent-h-color, #ff0070);
        }
    }
}


.theme_light .header-rectangle {
    display: none;
}

.theme_light .page {
    background-color: #fff1f7;
    background-image: url(../images/cover-image-light.png);
}
