/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    background-image: url(../images/cover-image-light.png);
    --bg-color: #f1b2ce;
    --article-h-bg-color: #ff8dcb;
    --header-nav-color: #353430;
    --article-h-color: #353430;
    --accent-color: #ffc2e6;
    --main-font: IBM Plex Mono, sans-serif;
    --article-text-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #f1b2ce;
        --article-h-bg-color: #ff8dcb;
        --header-nav-color: #353430;
        --article-h-color: #353430;
        --accent-color: #ffc2e6;
        --main-font: IBM Plex Mono, sans-serif;
        --article-text-color: #353430;
        --hover-color: rgba(50, 49, 45, 0.4);
        background-image: url(../images/cover-image-light.png);
    }

    .page {
        background-image: url(../images/cover-image-light.png);
    }

    .header-rectangle {
        display: none;
    }

    .header-title_main {
        text-shadow: 4px 4px 0px var(--article-h-bg-color);
    }

    .header-title_small {
        background-color: var(--article-h-bg-color);
    }

    .title_small {
        color: var(--article-h-color);
    }

    .article-title {
        background-color: var(--article-h-bg-color);
        color: var(--article-h-color);
    }

    .footer-text {
        text-shadow: 2px 2px 0px var(--article-h-bg-color);
    }
}

.theme_light .header-title_main {
    text-shadow: 4px 4px 0px var(--article-h-bg-color);
}

.theme_light .header-title_small {
    background-color: var(--article-h-bg-color);
}

.theme_light .title_small {
    color: var(--article-h-color);
}

.theme_light .articles_list-title {
    color: var(--article-h-color);
}

.theme_light .article-title {
    background-color: var(--article-h-bg-color);
    color: var(--article-h-color);
}

.theme_light .header-rectangle {
    display: none;
}

.theme_light .page {
    background-image: url(../images/cover-image-light.png);
}
