/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-image: var(--bg-image);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    display: grid;
    padding: 10px 10px;
    height: 100vh;
    min-height: 668px;
    position: relative;
    grid-template-rows: 25px 1fr min-content 1fr;
}

.decorated-zone {
    width: 100%;
}

.decorated-zone::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--header-nav-color, #ff0070);
    border-right: 1px solid var(--header-nav-color, #ff0070);
    position: relative;
    left: calc(100% - 25px);
}

.decorated-zone::after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    border-bottom: 1px solid var(--header-nav-color);
    border-left: 1px solid var(--header-nav-color);
}

.header-rectangle {
    display: grid;
    grid-template-columns: 1fr 9px;
    color: var(--header-nav-color, #ff0070);
    text-transform: uppercase;
    font-family: var(--main-font, sans-serif);
    position: absolute;
    align-items: center;
    justify-self: end;
    font-size: 18px;
    top: 10px;
    right: 20px;
    margin-inline-end: 10px;
}

.header-rectangle::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--header-nav-color, #ff0070);
    border-radius: 100%;
    display: inline-block;
    box-shadow: 0px 0px 3px 2px var(--header-nav-color, #ff0070);
    margin-left: 10px;
}

.header-title_main {
    color: var(--accent-color, #db00ff);
    text-shadow: 4px 4px 0px var(--accent-h-color, #ff0070);
    font-family: var(--main-font), sans-serif;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
}

.header__theme-menu {
    justify-self: end;
    align-self: center;
    padding-bottom: 25px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: none;
    color: var(--header-nav-color, #ff0070);
    font-family: var(--main-font, sans-serif);
    background-color: transparent;
    text-transform: lowercase;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
    border: 1px solid var(--header-nav-color);
    pointer-events: none;
}

.header-title_small {
    width: 355px;
    background-color: var(--header-nav-color, #ff0070);
    justify-self: end;
    height: fit-content;
    margin-block-start: 55px;
}

.title_small {
    color: var(--bg-color, #000028);
    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
}

.section-articles_list {
    display: grid;
    padding: 10px 10px;
}

.section_first {
    padding-top: 20px;
}

.articles_list-title {
    color: var(--header-nav-color, #ff0070);
    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    margin-block-start: 20px;
}

.section-articles_list article:last-child {
    margin-block-end: 10px;
}

.article-title {
    background-color: var(--header-nav-color, #ff0070);
    color: var(--bg-color, #000028);
    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    margin-block-end: 10px;
    margin-block-start: 20px;
}

.article-title_tiny {
    font-weight: 400;
}

.article-text {
    color: var(--article-text-color);
    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
}

.article-text-link {
    text-decoration: none;
    color: var(--article-text-color);
    font-family: var(--main-font, sans-serif);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
    text-shadow: 1px 1px 0px var(--accent-h-color, #ff0070);
}

.article-text-link:hover {
    border-bottom: 1px solid var(--article-text-color, #000028);
}

.article-text-link:focus-visible {
    border: 1px solid var(--bg-color);
}

.pictures {
    padding: 10px 10px;
    display: grid;
    gap: 10px;
}

.picture-title {
    margin-block-end: 0px;
}

.section-pictures_list {
    display: grid;
    gap: 10px;
}

.pictures-img {
    width: 100%;
}

.footer {
    display: grid;
    padding: 42px 10px 0px 10px;
    min-height: 668px;
    height: 100vh;
    grid-template-rows: 1px 1fr 1px;
    margin-block-end: 30px;
}

.footer-text {
    color: var(--accent-color, #db00ff);
    text-shadow: 2px 2px 0px var(--accent-h-color, #ff0070);
    font-family: IBM Plex Mono;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    display: block;
    place-self: center;
    align-self: center;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .decorated-zone {
        padding: 20px 20px;
    }

    .header-rectangle {
        top: 20px;
        right: 30px;
    }

    .header__theme-menu {
        align-self: center;
    }

    .header-title_main {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        position: relative;
        left: -20px;
        align-self: flex-start;
    }

    .header-title_small {
        width: 364px;
        align-self: center;
        margin-block-end: 30px;
    }

    .section-articles_list_wrap {
        grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
        grid-template-rows: auto;
        column-gap: 20px;
        padding: 40px 20px;
    }

    .articles_list-title {
        grid-row-start: 1;
        grid-row-end: 6;
        width: 236px;
    }

    .section-articles_list_nowrap {
        padding: 10px 20px;
    }

    .pictures {
        padding: 20px 20px 60px 20px;
    }

    .picture-title {
        margin-block-end: 10px;
        margin-block-start: 10px;
    }

    .section-pictures_list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3fr 3.6fr 5fr;
        gap: 20px;
    }

    .pictures-img {
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }

    .pictures-img:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .pictures-img:nth-child(2) {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .pictures-img:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .pictures-img:nth-child(5) {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .footer {
        display: grid;
        padding: 20px 20px 40px 20px;
        margin-block-end: 0;
    }

    .footer-text {
        padding-top: 20px;
    }
}

@media (min-width: 1024px) {
    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        gap: 11px;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: flex-start;
        margin-top: 0px;
        position: relative;
        top: -25px;
    }

    .header-title_small {
        width: 491px;
    }

    .section_first {
        margin-block-start: 3px;
    }

    .section-articles_list_nowrap {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 20px;
    }

    .articles_list-title_nowrap {
        grid-column-start: 1;
        grid-column-end: 4;
        width: 236px;
    }

    .articles_list-title {
        width: 315px;
    }

    .section-articles_list_wrap {
        column-gap: 12px;
        padding-top: 38px;
    }

    .footer-text {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        padding-top: 25px;
    }
}
