/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-color: #000028;
    --article-h-bg-color: #ff0070;
    --header-nav-color: #ff0070;
    --article-h-color: #000028;
    --accent-color: #db00ff;
    --main-font: IBM Plex Mono, sans-serif;
    --article-text-color: #f1b2ce;
    --accent-h-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
    --hover-color: rgba(255, 0, 112, 0.4);
}
